@font-face {
    font-family: getaway;
    src: url("../luucss/getaway.otf") format('truetype');
}

@font-face {
    font-family: gallient;
    src: url("../luucss/GallientRegular-eZoMp.ttf") format('truetype');
}

@font-face {
    font-family: VattenyRose;
    src: url("../luucss/VattenyRose.ttf") format('truetype');
}

@font-face {
    font-family: Danviska;
    src: url("../luucss/danviska.ttf") format('truetype');
}

@font-face {
    font-family: Montgrove;
    src: url("../luucss/Montgrove-Regular.otf") format('truetype');
}

@font-face {
    font-family: Goku;
    src: url("../luucss/Goku.ttf") format('truetype');
}

@font-face {
    font-family: Goku Stencil;
    src: url("../luucss/Goku Stencil.ttf") format('truetype');
}
